{{ partial "head_meta" . }}
{{ partial "header" . }}
<main>     
    <h2>{{ .Title }}</h2>     
    {{ range .Pages }}  
    <div class="list-project">       
       <div class="item">
            <a class="logo" href="{{ .Permalink }}">
                <img src="{{ .Params.logo }}">
            </a>
        <div class="content">
            <a href="{{ .Permalink }}">
                <h4>{{ .Title }}</h4>
            </a>
            <h5>{{ .Description }}</h5>
        </div>
    </div>
    {{end}}
</main> 
{{ partial "footer" . }}