{{ partial "head_meta" . }}
{{ partial "header" . }}
<main>
    <div class="header-project">
        {{ $.Scratch.Set "link" .RelPermalink }}
        {{ with .Params.repo }}
            {{ $repoHost := default "gitlab" $.Params.repoHost }}
            {{ if eq "github" $repoHost }}
                {{ printf "https://github.com/%s/%s/" $.Site.Params.githubUsername . | $.Scratch.Set "link" }}
            {{ else if eq "gitlab" $repoHost }}
                {{ printf "https://gitlab.com/%s/%s/" $.Site.Params.gitlabUsername . | $.Scratch.Set "link" }}
            {{ end }}
        {{ end }}
        {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}

        <a class="content" href="{{ .Scratch.Get "link" }}">
            <div class="text">
               <h1 class="title">{{ .Title }}</h1>
               <h4 class="subtitle">{{ $.Scratch.Get "subtitle" }}</h4>
            </div>
            <img class="logo" src="{{ .Params.logo }}">
        </a>
    </div>
    <br>
    <div class="text-justify">{{ .Content }}</div>
</main>
{{ partial "footer" . }}