:root {
    --color-header-background: #3c474d;
    --color-header-text: #cccccc;
    --color-header-text-hover: #ffffff;
    --color-header-text-accent: #00d4aa;

    --color-main-background: #ffffff;
    --color-main-text: #000000;
    --color-main-link: #f5f5f5;
}