/*main*/
main a {
    color: var(--color-main-text);
    text-decoration: underline;
}

main a:hover {
    text-decoration: underline;
}

/*list item for projects*/
main .list-project .item {
    display: flex;

    padding-top: 5px;
    margin-top: 10px;
    max-height: 100px;
}

main .list-project .logo {
    width: 150px;
}

main .list-project .logo img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main .list-project .content {
    text-align: left;
    margin-left: 10px;
    flex: 1;
}

/* project sites */
main .header-project .content {
    padding-top: 5px;
    margin-top: 10px;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
}
main .header-project .content .logo {
    align-self: center;
    height: 200px;
}

/* Change Grid Structure */
@media (max-width: 30em) {
    main .header-project .content {       
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    main .header-project .content .logo {
        align-self: center;
        width: 200px;
    }
}

/* images */
.text-justify img {
    display: block;
    margin: 50px auto;
}
