body {
  margin: 0;
  background-color: var(--color-main-background);
  position: relative;
  min-height: 100vh;
}

/* header */
.header {
  background-color: var(--color-header-background);
  font-family: Roboto;

  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header a {
  color: var(--color-header-text);
}

.header ul {
  margin: 0;
  padding: 0px 20px 0px 0px;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: var(--color-header-text-hover);
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px 10px 30px;
  text-decoration: none;
  color: var(--color-header-text-accent)
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 30px 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: var(--color-header-text);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: var(--color-header-text);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* main */
main {
  padding: 75px 30px 150px 30px;
  font-family: Roboto;
}

/* Change Padding for Mobile View */
@media (min-width: 48em) {
  main {
    padding: 75px 150px 150px 150px;
  }
}

/* footer */
.footer {
  background-color: var(--color-header-background);
  color: var(--color-header-text);
  font-family: Roboto;

  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  text-align: center;

  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 20px 100px 10px auto 10px 100px 20px;
}

.footer .text {
  grid-column-start: 4;
}

.footer .sponsor {
  grid-column-start: 6;
  width: 100%;
}

/* Change Grid Structure */
@media (max-width: 48em) {
  .footer  {
    grid-template-columns: 10px auto 10px 100px 10px;
  }

  .footer .text {
    grid-column-start: 2;
  }

  .footer .sponsor {
    grid-column-start: 4;
  }
}

.footer p {
  margin: 0;
}

.footer a {
  color: var(--color-header-text);
  text-decoration: none;
  margin: 0;
}

.footer a:hover {
  color: var(--color-header-text-hover);
}

.footer .lang {
  color: var(--color-header-text);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.footer .lang li {
  float: left;
}

.footer .lang li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 5px 0px 5px;
  text-decoration: none;
  color: var(--color-header-text);
}

.footer .lang li a:hover {
  color: var(--color-header-text-hover);
}