{{ partial "head_meta" . }}
{{ partial "header" . }}
<main>
    <h2>Blog</h2>
    {{ range .Pages }}
        <div class="list-item">
        <div class="list-logo">
            <a href="{{ .Permalink }}">
                <img src="{{ .Params.logo }}">
            </a>
        </div>
        <div class="list-content">
            <a href="{{ .Permalink }}">
                <h4>{{ .Params.Project }} - {{ .Title }}</h4>
            </a>
            <h5>{{ .Description }}</h5>
        </div>
    </div>
    {{ end }}
</main>
{{ partial "footer" . }}
