
{{ partial "head_meta" . }}
{{ partial "header" . }}
<main>
    <div class="item-header">
        <h2>{{ .Params.Project }} - {{ .Title }}</h2>
    </div>

    <div class="item">
        <div class="text-justify">{{ .Content }}</div>
    </div>
</main>
{{ partial "footer" . }}