       <footer class="footer">
            <div class="text">
            <p>Powered by <a href="https://gohugo.io">Hugo</a>. Themed by <a href="https://gitlab.com/fabinfra/fabinfra-theme">FabInfra</a>.</p>
            
            {{ if .Site.Home.AllTranslations}}
            <ul class="lang">
                {{ range $.Site.Home.AllTranslations }}
                <li><a href="{{ replace $.Page.RelPermalink $.Page.Language.Lang .Language.Lang}}">{{ .Language.LanguageName }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
            </div>

            {{ if .Params.sponsor }}
            <img class="sponsor" src="{{ .Params.sponsor }}"/>
            {{else}}
            <img class="sponsor" src="/img/sponsors/FabInfra.png"/>
            {{ end }}
        </footer>
    </body>
</html>
