<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/color.css">
        <link rel="stylesheet" href="/css/size.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/content.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#3c474d">
        <meta name="msapplication-TileColor" content="#3c474d">
        <meta name="theme-color" content="#3c474d">

        <title>{{ $.Site.Title }} - {{ $.Page.Title }}</title>
    </head>
    <body>