        <header class="header">
            <a href="{{ "/" | relLangURL }}" class="logo">{{ .Site.Title }}</a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
            {{ if .Site.Menus.main }}
                <ul class="menu">
                    {{ range sort .Site.Menus.main }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
                    {{ end }}
        </header>