{{ partial "head_meta" . }}
{{ partial "header" . }}
        <main>
			<!-- Start Content -->
            <div class="text-justify">{{ .Content }}</div>
            <!-- End Content -->
        </main>
{{ partial "footer" . }}